body {
	color: black;
	font-family: Fraunces, Serif;
	font-weight: 400;
}

.banner {
	float: left;
	font-style: bold;
	font-weight: 700;
	font-family: Fraunces, Serif;
}

nav {
	float: right;
	font-weight: 500;
	font-family: Fraunces, Serif;
}
	
	
img {
	width: 500px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.main-image img {
	float: left
}

.footer {
  text-align: right;
}
