@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,200..900&display=swap');

body {
  font-family: 'Fraunces', serif;
  font-optical-sizing: auto;
}

<!-- something22 -->

img {
	width: 500px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.main-image img {
	float: left
}

.footer {
  text-align: right;
}
